<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pe.bluering.mappers.roomMapper">

	<insert id="Insert" parameterType="RoomVO" useGeneratedKeys="true" keyProperty="idx">
		<![CDATA[
			INSERT INTO jeju_hotel_room
			(title,content,amenity,price,roomType,bedType,reserveBtn,reserveLink,originalFileName1,savedFileName1,originalFileName2,savedFileName2,originalFileName3,savedFileName3,regdate,upddate)
			VALUES 
			(#{title},#{content},#{amenity},#{price},#{roomType},#{bedType},#{reserveBtn},#{reserveLink},#{originalFileName1},#{savedFileName1},#{originalFileName2},#{savedFileName2},#{originalFileName3},#{savedFileName3},now(),now());
		]]>
	</insert>


	<select id="getCount" resultType="int">
		<![CDATA[
			SELECT count(idx) as idx from jeju_hotel_room;
		]]>
	</select>
	
	
	<select id="getIdx" resultType="int">
		<![CDATA[
			SELECT max(idx) as idx from jeju_hotel_room;
		]]>
	</select>
	
	<select id="getRoomList" resultType="RoomVO">
		<![CDATA[
			SELECT * from jeju_hotel_room where idx > 0 order by idx desc limit #{pageStart}, #{perPageNum};
		]]>
	</select>
	
	
	<select id="getRoomModify" parameterType="int" resultType="RoomVO">
		<![CDATA[
			SELECT * FROM jeju_hotel_room where idx = #{idx}
		]]>
	</select>
	
	<select id="countPaging" resultType="int">
		<![CDATA[
			SELECT count(idx) FROM jeju_hotel_room where idx > 0
		]]>
	</select>
	
	<update id="roomUpdate" parameterType="RoomVO">
		<![CDATA[
			UPDATE jeju_hotel_room SET 
			title = #{title}, 
			content = #{content}, 
			amenity = #{amenity},
			price = #{price},
			roomType = #{roomType},
			bedType = #{bedType},
			reserveBtn = #{reserveBtn},
			reserveLink = #{reserveLink},
			originalFileName1 = #{originalFileName1},
			savedFileName1 = #{savedFileName1},
			originalFileName2 = #{originalFileName2},
			savedFileName2 = #{savedFileName2},
			originalFileName3 = #{originalFileName3},
			savedFileName3 = #{savedFileName3},
			upddate = now()
			WHERE
			idx = #{idx}
		]]>
	</update>
	
	<!-- <update id="newsThumbUpdate" parameterType="newsVO">
		<![CDATA[
			UPDATE jeju_hotel_news SET 
			thumburl = #{thumburl}
			WHERE
			idx = #{idx}
		]]>
	</update> -->
	
	
	<delete id="roomDelete" parameterType="int">
		<![CDATA[
			DELETE FROM jeju_hotel_room where idx = #{idx}
		]]>
	</delete>
	
	
	<!-- <select id="getPrev" parameterType="int"  resultType="NewsVO">
		<![CDATA[
		SELECT * FROM jeju_hotel_news WHERE idx =
			(SELECT idx FROM jeju_hotel_news WHERE idx < #{idx} ORDER BY idx DESC LIMIT 1)
		]]>
	
	</select>
	
	
	<select id="getNext" parameterType="int"  resultType="NewsVO">
		<![CDATA[
		SELECT * FROM jeju_hotel_news WHERE idx =
			(SELECT idx FROM jeju_hotel_news WHERE idx > #{idx}  ORDER BY idx LIMIT 1)
		]]>
	
	</select> -->

</mapper>